---
import Achievement from "../achievement.astro";
import PillAbsoluteZero from "./pill/pill-AbsoluteZero.astro";

---
<Achievement>
    <PillAbsoluteZero slot="summary"/>
    <div slot="description">
        Find a query of 0° (well it's when the start and end page are the same).
    </div>
</Achievement>