---
import Achievement from "../achievement.astro";
import PillGodwin from "./pill/pill-Godwin.astro";

---
<Achievement>
    <PillGodwin slot="summary"/>
    <div slot="description">
        <a href="https://en.wikipedia.org/wiki/Godwin%27s_law">Godwin's law</a>
    </div>
</Achievement>