---
import Achievement from "../achievement.astro";
import PillHot from "./pill/pill-Hot.astro";

---
<Achievement>
    <PillHot slot="summary"/>
    <div slot="description">
        Find a query of 6° (when the shortest path is 6 links)
    </div>
</Achievement>