---
import Achievement from "../achievement.astro";
import PillOver9000 from "./pill/pill-Over9000.astro";

---
<Achievement>
    <PillOver9000 slot="summary"/>
    <div slot="description">
        Find a query with over 9000 shortest path.
    </div>
</Achievement>