---
import Achievement from "../achievement.astro";
import PillOverHeat from "./pill/pill-OverHeat.astro";

---
<Achievement>
    <PillOverHeat slot="summary"/>
    <div slot="description">
        Find a query of 7° of higher
    </div>
</Achievement>