---
import OryLayout from "../layout/OryLayout.astro";
import { ory } from "../ory/api";

const url = new URL(Astro.request.url);

const { id } = Object.fromEntries(url.searchParams);

const flowError = await ory.getFlowError({ id }).catch(()=>({error: "The error id doesn't exist"}));

---
<OryLayout title="Wiki Adventure account" meta={{title: "Wiki Adventure account", description: "Create and manage your Wiki Adventure account."}}>
    <main login-page>
        <section>
            <h1>Wiki Adventure account</h1>
            <h2>error</h2>
            <div>
                { JSON.stringify(flowError.error) }
            </div>
        </section>
    </main>
</OryLayout>
<style lang="scss" is:global>

</style>
    