---
import type { LoginFlow } from "@ory/client";
import OryForm from "../components/ory/OryForm.astro";
import OryLayout from "../layout/OryLayout.astro";
import { getUrlForFlow, ory, oryOAuth } from "../ory/api";

// debugger;
const url = new URL(Astro.request.url);

const {
    flow,
    login_challenge
} = Object.fromEntries(url.searchParams);

const loginChallenge = login_challenge;

const cookie = Astro.request.headers.get('cookie')!;
const session = await ory.toSession(undefined,{ headers: { Cookie: cookie } }).catch(()=>null);
if (session && loginChallenge) {
    
    const loginSuccess = await oryOAuth.acceptOAuth2LoginRequest({
        loginChallenge,
        acceptOAuth2LoginRequest: {
            subject: session.identity.id
        }
    });
    return Response.redirect(loginSuccess.redirect_to);
}
var loginFlow:LoginFlow | null = null;
if (flow) {
    loginFlow = await ory.getLoginFlow({ id: flow, cookie }).catch(e=>null);
}
if (!loginFlow) return Response.redirect(getUrlForFlow("login", url.searchParams));

---
<OryLayout title="Wiki Adventure account" meta={{title: "Wiki Adventure account", description: "Create and manage your Wiki Adventure account."}}>
    <section login-section>
        <h1>Wiki Adventure account</h1>
        <h2>Login</h2>
        <OryForm flow={loginFlow!}/>
        <p>Lost your password? <a href="/recover">Recover</a> your account!</p>
        <p>No account? <a href="/register">Register</a> one!</p>
    </section>
</OryLayout>
<style lang="scss" is:global>

</style>
    