---
import OryForm from "../components/ory/OryForm.astro";
import OryLayout from "../layout/OryLayout.astro";
import { ory } from "../ory/api";

const url = new URL(Astro.request.url);

const {
    return_to,
} = Object.fromEntries(url.searchParams);

const recoverFlow = await ory.createBrowserRecoveryFlow({
                    returnTo: return_to,
                });

---
<OryLayout title="Wiki Adventure account" meta={{title: "Wiki Adventure account", description: "Create and manage your Wiki Adventure account."}}>
    <main login-page>
        <section>
            <h1>Wiki Adventure account</h1>
            <h2>Recover</h2>
            <OryForm flow={recoverFlow}/>
        </section>
    </main>
</OryLayout>
<style lang="scss" is:global>

</style>
    