---
import OryForm from "../components/ory/OryForm.astro";
import OryLayout from "../layout/OryLayout.astro";
import { ory } from "../ory/api";

const url = new URL(Astro.request.url);

const {
    return_to,
    login_challenge
} = Object.fromEntries(url.searchParams);

const loginChallenge = login_challenge;

const registerFlow = await ory.createBrowserRegistrationFlow({
                    returnTo: return_to,
                    loginChallenge,
                });

---
<OryLayout title="Wiki Adventure account" meta={{title: "Wiki Adventure account", description: "Create and manage your Wiki Adventure account."}}>
    <main login-page>
        <section>
            <h1>Wiki Adventure account</h1>
            <h2>Register</h2>
            <OryForm flow={registerFlow}/>
        </section>
    </main>
</OryLayout>
<style lang="scss" is:global>

</style>
    