---
import type { RegistrationFlow } from "@ory/client";
import OryForm from "../components/ory/OryForm.astro";
import OryLayout from "../layout/OryLayout.astro";
import { getUrlForFlow, ory } from "../ory/api";

const url = new URL(Astro.request.url);

const {
    flow,
} = Object.fromEntries(url.searchParams);

const cookie = Astro.request.headers.get('cookie')!;

var registerFlow:RegistrationFlow | null = null;
if (flow) {
    registerFlow = await ory.getRegistrationFlow({ id: flow, cookie }).catch(()=>null);
}
if (!registerFlow) return Response.redirect(getUrlForFlow("registration", url.searchParams));

---
<OryLayout title="Wiki Adventure account" meta={{title: "Wiki Adventure account", description: "Create and manage your Wiki Adventure account."}}>
    <section register-section>
        <h1>Wiki Adventure account</h1>
        <h2>Register</h2>
        <OryForm flow={registerFlow}/>
    </section>
</OryLayout>
<style lang="scss" is:global>

</style>
    