---
import type { SettingsFlow } from "@ory/client-fetch";
import OryForm from "../components/ory/OryForm.astro";
import OryLayout from "../layout/OryLayout.astro";
import { getUrlForFlow, ory } from "../ory/api";
import Nav from "../components/Nav.astro";

const url = new URL(Astro.request.url);

const {
    flow
} = Object.fromEntries(url.searchParams);

const cookie = Astro.request.headers.get('cookie')!;

var settingsFlow:SettingsFlow | null | {error: any} = null;
if (flow) {
    settingsFlow = await ory.getSettingsFlow({ id: flow, cookie }).catch((e)=>({error: e}));
}

if (!settingsFlow) return Astro.redirect(settingFlowUrl);
if ("error" in settingsFlow) {
    console.log(await settingsFlow.error.response.text());
    return settingsFlow.error.response;
}
---
<Nav/>
<OryLayout title="Wiki Adventure account" meta={{title: "Wiki Adventure account", description: "Create and manage your Wiki Adventure account."}}>
    
    <section settings-section>
        <h1>Wiki Adventure account</h1>
        <h2>Settings</h2>
        <OryForm flow={settingsFlow}/>
    </section>
</OryLayout>
<style lang="scss" is:global>

</style>
    