---
import type { VerificationFlow } from "@ory/client";
import OryForm from "../components/ory/OryForm.astro";
import OryLayout from "../layout/OryLayout.astro";
import { getUrlForFlow, ory } from "../ory/api";

const url = new URL(Astro.request.url);

const {
    flow,
} = Object.fromEntries(url.searchParams);

const cookie = Astro.request.headers.get('cookie')!;

var verifyFlow:VerificationFlow | null = null;
if (flow) {
    verifyFlow = await ory.getVerificationFlow({ id: flow, cookie }).catch(()=>null);
}
if (!verifyFlow) return Response.redirect(getUrlForFlow("verification", url.searchParams));
---
<OryLayout title="Wiki Adventure account" meta={{title: "Wiki Adventure account", description: "Create and manage your Wiki Adventure account."}}>
    <main login-page>
        <section>
            <h1>Wiki Adventure account</h1>
            <h2>Verify</h2>
            <OryForm flow={verifyFlow}/>
        </section>
    </main>
</OryLayout>
<style lang="scss" is:global>

</style>
    