---

interface Props {
    title: string,
    meta: {
        title: string
        description: string
    }
}
const { title, meta } = Astro.props;

---
<html>
    <head>
        <meta charset="UTF-8" >
        <link rel="icon" href="/favicon.ico" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>{ title }</title>
        <meta name="title" content={meta.title}>
        <meta name="description" content={meta.description}>
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="alternate icon" href="/favicon.ico" type="image/png" sizes="16x16">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
        <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF">
        <meta name="theme-color" content="#222222">
    </head>
    <body>
        <div>
            <slot/>
        </div>
    </body>
</html>
<style lang="scss" is:global>
:root {
    --color-text: #ddd;
    --color-bg: #03151c;
    --color-1: #088395;
    --color-2: #05bfdb;
    --color-accent: #00ffca;
}
* {
    box-sizing: border-box;
}

html {
    background: var(--color-bg);
}
html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-text);
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background: #000;
}

body {
    overflow: hidden;
    min-height: 100vh;
}
body::before {
    content: "";
    position: absolute;
    opacity: 0.7;
    // background: linear-gradient(90deg, var(--color-2) 25%, var(--color-accent) 75% );
    filter: blur(10vh) contrast(1);
    
    height: 40vh;
    margin-left: -50vw;
    width: 200vw;
    bottom: -30vh;
    // animation: pulse 10s ease-in-out infinite alternate;
    @keyframes pulse {
        100% {
            filter: blur(18vh) contrast(2);
        }
    }
}
body > div {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    isolation: isolate;
}

</style>